# configuration for "master" branch
-
  image: Visual Studio 2017
  branches:
      only:
        - master
  version: 1.0.{build}
  environment:
    ANDROID_HOME: "C:\\android-sdk-windows"
    COVERALLS_TOKEN: jLYKFVgST432LzbZeyLnLpoteXwQLveBw
    GITHUB_USERNAME:
      secure: 0Q9MvUId56SizmZwCf0cgg==
    GITHUB_TOKEN:
      secure: 8MW7NQw/+0kKQAINvV7mxac+f7xqrLPkskONTyldqcYP6M1h9iej2p7rSva0/rXH
    NUGET_SOURCE: https://www.nuget.org/api/v2/package
    NUGET_APIKEY:
      secure: 0g2AqQxgiAIFhqoJbbmEPrJa15Z8U5xYT6vQe43Gocuxbjw74hBAIKbU+Cj65UNd
  init:
  - mkdir %ANDROID_HOME%"
  - cd "%ANDROID_HOME%"
  - appveyor DownloadFile "https://dl.google.com/android/repository/tools_r25.2.3-windows.zip"
  - 7z x "tools_r25.2.3-windows.zip" > nul
  - cd "C:\projects\reactiveui"
  install: 
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t tools
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t platform-tools
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t build-tools-25.0.2
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t android-25
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t extra-google-m2repository
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t extra-android-m2repository
  build_script:
  - ./build.cmd
  cache:
  - tools -> build.*
  - src\packages -> **\packages.config
  - '%USERPROFILE%\.nuget\packages -> **\project.json'
  artifacts:
  - path: artifacts/*
  - path: '**/bin/*'
  - path: src/ReactiveUI.Events/Events_*.cs
  test: off
  
# configuration for "develop" branch
-
  image: Visual Studio 2017
  branches:
      except:
          - master
  skip_branch_with_pr: true
  version: 1.0.{build}
  environment:
    ANDROID_HOME: "C:\\android-sdk-windows"
    COVERALLS_TOKEN: jLYKFVgST432LzbZeyLnLpoteXwQLveBw
    NUGET_SOURCE: https://www.myget.org/F/reactiveui/api/v2/package
    NUGET_APIKEY:
      secure: YP/3KxC2ffsuHNaolPXj66JVGzSjON9FcR2S2OEzn9c6SV14oPzUh1ySyeT+G+aA
  init:
  - mkdir %ANDROID_HOME%"
  - cd "%ANDROID_HOME%"
  - appveyor DownloadFile "https://dl.google.com/android/repository/tools_r25.2.3-windows.zip"
  - 7z x "tools_r25.2.3-windows.zip" > nul
  - cd "C:\projects\reactiveui"
  install: 
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t tools
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t platform-tools
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t build-tools-25.0.2
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t android-25
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t extra-google-m2repository
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t extra-android-m2repository
  build_script:
  - ./build.cmd
  cache:
  - tools -> build.*
  - src\packages -> **\packages.config
  - '%USERPROFILE%\.nuget\packages -> **\project.json'
  artifacts:
  - path: artifacts/*
  - path: '**/bin/*'
  - path: src/ReactiveUI.Events/Events_*.cs
  test: off
  