version: 1.0.{build}
branches:
  only:
  - rxui7-master
environment:
  MYGET_API_KEY:
    secure: YP/3KxC2ffsuHNaolPXj66JVGzSjON9FcR2S2OEzn9c6SV14oPzUh1ySyeT+G+aA
  SONAR_API_KEY:
    secure: 1WyG/T61dXeEzB33DQE5M7qDMwiJ2tALpRF9jJlK3f6oiv6K+L4gp+q8llYh4951
install:
- cmd: >-
    set JAVA_HOME=C:\Program Files\Java\jdk1.8.0

    curl -L https://github.com/SonarSource-VisualStudio/sonar-msbuild-runner/releases/download/2.0/MSBuild.SonarQube.Runner-2.0.zip > MSBuild.SonarQube.Runner.zip

    unzip MSBuild.SonarQube.Runner.zip
xamarin:
  email: ghuntley@ghuntley.com
  password:
    secure: 9PLfbvP3ON+Xk17Yd4rJag==
  android: true
  ios: true
build_script:
- ps: >-
    ./MSBuild.SonarQube.Runner begin /k:ReactiveUI /n:"ReactiveUI" /v:latest /d:sonar.host.url=https://sonarqube.com /d:sonar.login=$env:SONAR_API_KEY /d:sonar.vb.file.suffixes=.no_vb6_files


    ./bootstrap.ps1


    ./build.cmd
test: off
artifacts:
- path: '**/bin/*'
- path: src/ReactiveUI.Events/Events_*.cs
- path: artifacts/*
on_finish:
- ps: ./MSBuild.SonarQube.Runner.exe end /d:sonar.login=$env:SONAR_API_KEY
