version: 1.0.{build}

branches:
  only:
  - rxui7-master

environment:
  ANDROID_HOME: "C:\\android-sdk-windows"

  MYGET_API_KEY:
    secure: YP/3KxC2ffsuHNaolPXj66JVGzSjON9FcR2S2OEzn9c6SV14oPzUh1ySyeT+G+aA
  SONAR_API_KEY:
    secure: 1WyG/T61dXeEzB33DQE5M7qDMwiJ2tALpRF9jJlK3f6oiv6K+L4gp+q8llYh4951

xamarin:
  email: ghuntley@ghuntley.com
  password:
    secure: 9PLfbvP3ON+Xk17Yd4rJag==
  android: true
  ios: true

init:
  - cd \
  - appveyor DownloadFile http://dl.google.com/android/android-sdk_r24.4.1-windows.zip
  - 7z x android-sdk_r24.4.1-windows.zip > nul
  - cd "C:\projects\reactiveui"

install: 

  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t tools
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t platform-tools
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t build-tools-24.0.2
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t android-24
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t extra-google-m2repository
  - echo y | "%ANDROID_HOME%\tools\android.bat" update sdk -u -a -t extra-android-m2repository

build_script:
- ps: >-

    ./build.cmd

test: off

artifacts:
  - path: '**/bin/**/*'
  - path: src/ReactiveUI.Events/Events_*.cs
  - path: artifacts/*
