trigger:
- master
- rel/*
- preview/*

pr:
- master
- rel/*
- preview/*

pool:
  vmImage: vs2017-win2016

steps:
- task: DotNetCoreInstaller@0
  displayName: Install .NET Core 3.0 preview
  inputs:
    version: '3.0.100-preview-009812'

- task: BatchScript@1
  inputs:
    filename: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Enterprise\\Common7\\Tools\\VsDevCmd.bat"
    arguments: -no_logo
    modifyEnvironment: true
  displayName: Setup Environment Variables

- powershell: .\build.ps1
  displayName: Build 
  env:
    SIGNCLIENT_SECRET: $(SignClientSecret)
    SIGNCLIENT_USER: $(SignClientUser)
    VSTS_ACCESS_TOKEN: $(System.AccessToken)
    COVERALLS_TOKEN: $(COVERALLS_TOKEN)
    CODECOV_TOKEN: $(CODECOV_TOKEN)
    ArtifactDirectory: $(System.DefaultWorkingDirectory)\artifacts

- task: CopyFiles@2
  inputs:
    Contents: 'artifacts/packages/*.nupkg'
    TargetFolder: '$(build.artifactstagingdirectory)\packages'
    flattenFolders: true

- task: PublishBuildArtifacts@1
  displayName: Publish Package Artifacts
  inputs:
    pathToPublish: '$(build.artifactstagingdirectory)\packages'
    artifactType: container
    artifactName: Packages

- task: CopyFiles@2
  inputs:
    Contents: 'artifacts/binaries/**/*'
    TargetFolder: '$(build.artifactstagingdirectory)\binaries'

- task: PublishBuildArtifacts@1
  displayName: Publish Binaries
  inputs:
    pathToPublish: '$(build.artifactstagingdirectory)\binaries'
    artifactType: container
    artifactName: Binaries

- task: CopyFiles@2
  inputs:
    Contents: 'artifacts/Events/*.cs'
    TargetFolder: '$(build.artifactstagingdirectory)\Events'

- task: PublishBuildArtifacts@1
  displayName: Publish Generated Events
  inputs:
    pathToPublish: '$(build.artifactstagingdirectory)\Events'
    artifactType: container
    artifactName: Events