trigger:
- master
- rel/*
- preview/*

pr:
- master
- rel/*
- preview/*

pool:
  vmImage: vs2017-win2016

steps:
- task: BatchScript@1
  inputs:
    filename: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Enterprise\\Common7\\Tools\\VsDevCmd.bat"
    arguments: -no_logo
    modifyEnvironment: true
  displayName: Setup Environment Variables

- task: DotNetCoreCLI@2  
  inputs:
    command: custom
    custom: tool
    arguments: install --tool-path . nbgv
  displayName: Install NBGV tool

- script: nbgv cloud
  displayName: Set Version

- powershell: .\build.ps1 -Target UploadTestCoverage
  displayName: Build 
  env:
    CODECOV_TOKEN: $(CODECOV_TOKEN)
    ArtifactDirectory: $(System.DefaultWorkingDirectory)\artifacts
    
- task: CopyFiles@2
  inputs:
    Contents: 'artifacts/tests/**/*'
    TargetFolder: '$(build.artifactstagingdirectory)\Tests'

- task: PublishBuildArtifacts@1
  displayName: Publish Test Data
  inputs:
    pathToPublish: '$(build.artifactstagingdirectory)\Tests'
    artifactType: container
    artifactName: Tests