<?xml version="1.0" encoding="utf-8"?>
<settings>
  <repositoryPath>packages</repositoryPath>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAMrfCfz77r0OizNIXcGSbhgAAAAACAAAAAAAQZgAAAAEAACAAAACw2Y7e6U6XJrQrZjvqdgwulvKYnelIZtTVzfrtkyOxAAAAAAAOgAAAAAIAACAAAAC1x+86zoQpho93KeZgaOnIfoEYOx8gKchSo0SnVCQ1OjAAAAAyoBBxSckYv7/uDG/YcFlmtnuzw1xeRqZLwaRdhTMvi74VfvymQ9TN1yhhEwviQ5JAAAAA2InT4n66xRmQOGGduiAodQtl7coeutfCKr8OX7suhtFWfRtsPp5fabRT0Kh8DB+xOjLZ5fWrBNd5MtgSCelu6A==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAMrfCfz77r0OizNIXcGSbhgAAAAACAAAAAAAQZgAAAAEAACAAAAAanWLF0XtIDoiJ56mQpByA5dVTw5pS5xNwqTnTMsvYvwAAAAAOgAAAAAIAACAAAAB/cQ7jx5PiMgT/pNiKtYG9i6S9miGdkuNMxoQKTszkTjAAAABF1yNkmaRnK23XwX2k7px7pDtISZAz09TsN9mYwWajGSI32C+0tNF4/ZYwD4PD2OdAAAAAoPioFlMYUjudb6OH/GubQf+EYTXXsUmU+99fI47/Ffzwt1WDJjWcGQ5t55C77dmQqKsVKF38dLV80WkyiFclVQ==" />
  </apikeys>
</settings>