<?xml version="1.0" encoding="utf-8"?>
<!--
DO NOT REMOVE THIS FILE
There is an issue where the nuget config local cache can play up.
Already had similar issues with the local cache and it containing netcore 3.1 packages.
https://github.com/actions/virtual-environments/issues/1090
-->
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>