<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.10.2.5.WinForms" version="10.2.5.3" targetFramework="net35" userInstalled="true" />
  <package id="reactiveui-events-winforms" version="6.5.0.2" targetFramework="net35" userInstalled="true" />
  <package id="Rx_Experimental-Main" version="1.1.11111" targetFramework="net35" userInstalled="true" />
</packages>