using System;
using ReactiveUI;
using ReactiveUI.Routing;

namespace {{namespace}}.ViewModels
{
    {{#interfaces}}
    public partial class {{implClassName}}
    {
		{{#isRoutableViewModel}}
		public {{implClassName}}(IScreen hostScreen)
		{
			HostScreen = hostScreen;
			// TODO: Describe how your properties are related using WhenAny and ToProperty.
		}
		{{/isRoutableViewModel}}
		{{^isRoutableViewModel}}
		public {{implClassName}}()
		{
			// TODO: Describe how your properties are related using WhenAny and ToProperty.
		}
        {{/isRoutableViewModel}}
    }
    {{/interfaces}}
}