using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using ReactiveUI;
using ReactiveUI.Xaml;
using {{namespace}}.ViewModels;
{{extraNamespaces}}

namespace {{namespace}}.Views
{
    public partial class {{implClassName}} : {{control}}, IViewFor<{{implClassName}}Model>
    {
        public {{implClassName}}()
        {
            this.InitializeComponent();
        }

        public {{implClassName}}Model ViewModel {
            get { return ({{implClassName}}Model)GetValue(ViewModelProperty); }
            set { SetValue(ViewModelProperty, value); }
        }
        public static readonly DependencyProperty ViewModelProperty =
            DependencyProperty.Register("ViewModel", typeof({{implClassName}}Model), typeof({{implClassName}}), new PropertyMetadata(null));

        object IViewFor.ViewModel {
            get { return ViewModel; }
            set { ViewModel = ({{implClassName}}Model)value; }
        }
    }
}