<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ReactiveUI.TestRunner.Android" android:versionCode="1" android:versionName="1.0" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<application android:label="Splat.Android.Tests" android:icon="@drawable/Icon"></application>
</manifest>
