<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net451" />
  <package id="NuGet.Core" version="2.10.1" targetFramework="net452" />
  <package id="Nustache" version="1.15.3.7" targetFramework="net452" />
  <package id="Polly" version="3.0.0" targetFramework="net452" />
  <package id="Serilog" version="1.5.14" targetFramework="net452" />
</packages>