<?xml version="1.0" encoding="utf-8"?>
<!--
Licensed to the .NET Foundation under one or more agreements.
The .NET Foundation licenses this file to you under the MIT license.
See the LICENSE file in the project root for more information.
-->

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose"/>
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="EventBuilder.log"/>
    <add key="serilog:using:ColoredConsole" value="Serilog.Sinks.ColoredConsole" />
    <add key="serilog:write-to:ColoredConsole.restrictedToMinimumLevel" value="Warning"/>
  </appSettings>
</configuration>
