name: Sample Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-samples:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest  

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        lfs: true

    - name: Install .NET Core
      uses: actions/setup-dotnet@v1.8.1
      with:
        dotnet-version: 3.1.x

    - name: Install .NET 5
      uses: actions/setup-dotnet@v1.8.1
      with:
        dotnet-version: 5.0.x

    - name: Install .NET 6
      uses: actions/setup-dotnet@v1.8.1
      with:
        dotnet-version: 6.0.x
        include-prerelease: true
        
    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Add MSBuild to PATH
      uses: glennawatson/setup-msbuild@v1.0.3
      with:
        prerelease: true

    - name: Restore/Build the sample
      run: msbuild IntegrationTests.All.sln /t:restore,build /maxcpucount /p:NoPackageAnalysis=true /verbosity:minimal /p:Configuration=$env:Configuration
      working-directory: integrationtests
      env:
        Configuration: ${{ matrix.configuration }}
